.micro-cta {clear: both; width: 100%; position: relative; z-index: 1; padding: 76px 0 58px;}
.cta_module {padding: 32px; border-radius: 16px; border: solid 8px rgb(244, 242, 238);}
.cta_module h3 {padding: 0; margin-bottom: 23px;}
.cta-main {justify-content: space-between;}
.cta_module .cta-left {width: 57%; flex-grow: 1;}
.cta_module .cta-right{width: calc(100% - 57%); position: relative;}
.cta_module .cta-right .cta-thumb {max-width: 344px; width: 100%; margin-left: auto; position: absolute; top: -79px; right: 0; display: block;}

/*-- media css starts here --*/
@media only screen and (max-width: 1023px) and (min-width: 720px) {
.cta_module .cta-right .cta-thumb {position: relative; top: inherit; max-width: 216px;}
}

@media only screen and (max-width: 719px) and (min-width: 200px) {
    .cta-main {flex-direction: column-reverse;}
    .cta_module {padding:36px 20px 28px 20px;}
    .cta_module .cta-left {width: 100%;}
    .cta_module .cta-right {width: 100%; margin: 0 0 49px 0;}
    .cta_module .cta-right .cta-thumb {position: relative; top: inherit; max-width: 278px; margin: 0 auto;}
    .micro-cta {padding: 20px 0 20px;}
    
}