.recipes-main{padding: 80px 0;}
.recipes-heading{margin-bottom: 38px;}
.recipes-list{text-align: center;}
.links-list{flex: 0 0 25%; padding: 0 40px ; border-left: 2px solid var(--green);}
.links-list:first-child{padding: 0; border-left: 0;}
.links-list ul{margin: 0;}
.links-list ul.h4{margin-bottom: 32px;}
ul.recipes-block{justify-content: space-around; }
ul.recipes-block li {list-style-type: none;}
ul.recipes-block  li:before{display: none;}
ul.recipes-block li a{text-decoration: none; font-size: 1rem; line-height: 1.5rem; color: var(--foreground); opacity: 0.75}

@media only screen and (min-width: 1200px){


    ul.recipes-block li { display: inline-block; flex: 0 0 50%;}

}
@media only screen and (min-width: 1024px){
    .recipes-row{gap: 40px; margin-bottom: 56px;}
    /* .recipes-img{width: 125px} */
    .recipes-list{width: 9.7%;}



}
 @media only screen and (max-width: 1360px) and (min-width: 1024px) {
    .recipes-row{gap: 30px; margin-bottom: 56px;}
  
 }
 @media only screen and (max-width: 1199px) and (min-width: 1024px) {
    ul.recipes-block li {flex: 0 0 100%;}


 }

 
 

