.recipes-main{padding: 80px 0; clear: both; width: 100%;}
.recipes-heading{margin-bottom: 38px; justify-content: space-between; align-items: center;}
.recipes-form input{padding-right: 47px; text-overflow: ellipsis; overflow: hidden;}
.recipes-form button.recipes-btn{right: 20px; top: 17px; padding: 0; color: #592C5F; position: absolute; background: none;}
.recipes-form button.recipes-btn::after{display: none;}
.recipes-list{text-align: center;}
.recipes-list span a { font-size: 1rem; color: var(--darkgreen); font-family: DM Serif Display; font-weight: normal; line-height: 1.25;}
.recipes-list span a:hover{color: var(--green)}
.links1-of-4{flex: 25%; padding: 0 47px ; border-left: 2px solid var(--green); }
.links1-of-4:first-child{ border-left: 0; padding-left: 0;}
.links1-of-4:last-child{padding-right: 0; }
.links-list ul{margin: 0;}
.links1-of-3{flex: 0 0 33.33%; border-left: 2px solid var(--green); padding: 0 47px ;}
.links1-of-3:first-child{border-left: 0; padding-left: 0;}
.links1-of-3:last-child{padding-right: 0; }
ul.recipes-block li {list-style-type: none;}
ul.recipes-block  li:before{display: none;}
ul.recipes-block li a{text-decoration: none; font-size: 1rem; line-height: 1.5rem; color: var(--foreground); opacity: 0.75}
ul.recipes-block li a:hover{color: var(--green);}

.recipes-form .form-field { width: 100%; }
@media only screen and (min-width: 1200px){
    .links1-of-4{flex: 25%;}
    ul.recipes-block{gap: 0 16px;}
    ul.recipes-block li { display: inline-block; flex: 0 0 calc(50% - 8px); line-height: 0.8; margin: 14px 0 2px;}
    .links1-of-4 .links-mobile-wrap { max-width: 248px; min-width: 248px; }
    .links1-of-4:first-child{flex: 0 0 calc(25% - 47px);}
    .links1-of-4:last-child{flex: 0 0 calc(25% - 47px);}
}
@media only screen and (min-width: 1024px){
    .recipes-heading{gap: 12px;}
    .recipes-heading h2{margin: 0; }
    .recipes-heading .heading-rt{flex: 0 0 calc(50% - 12px);}
    .recipes-row{gap: 40px; margin-bottom: 56px;}
    .recipes-list{width: 9.7%;}
    .links-list .h4{margin-bottom: 18px; font-size: 1.25rem;}
}
@media only screen and (max-width: 1360px) and (min-width: 1024px) {
    .recipes-row{gap: 30px; margin-bottom: 56px;}
}
@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    ul.recipes-block li {flex: 0 0 100%;}
}
@media only screen and (max-width: 1023px) and (min-width: 720px) {
    /* .recipes-heading{gap: 20px;} */
    .recipes-heading h2{margin: 0; flex: 0 0 calc(50% - 10px);}
    /* .heading-rt{flex: 0 0 calc(50% - 10px);} */
    .recipes-row{gap: 16px; margin-bottom: 40px;}
    .recipes-list{flex:0 0 calc(25% - 16px);}
    .recipes-img{width: 148px;}
    ul.recipes-block{justify-content: flex-start; display: block;}
    .links-list{padding: 0 20px;}
    .links-list span{margin-bottom: 28px;}
    .links-list:last-child{padding-right: 0;}
    ul.recipes-block li{margin: 12px 0 2px;}
 }
@media only screen and (max-width: 719px) and (min-width: 200px) {
    .recipes-main{padding: 40px 0 40px;}
    /* .recipes-heading{display: block; text-align: center;} */
    .recipes-heading .heading-lt h2{font-size: 2rem; margin-bottom: 0;}
    .recipes-row .slick-list{overflow: inherit;}
    .recipes-list.slick-slide{width: 122px; margin: 0 6px;}
    .recipes-list.slick-slide span{font-size: 16px; line-height: 20px; letter-spacing: 0; font-family: "DM Serif Display", sans-serif;}
    .recipes-list.slick-slide span a{color: #415941;}
    .recipes-links{display: block; padding-top: 20px;}
    .links-list{flex: none; padding: 0; border-left: none; border-bottom: 2px solid #BFD000;}
    .links-list span{margin: 0; padding: 16px 0; display: block; cursor: pointer; position: relative; font-size: 1.25rem;}
    .links-list span::after{right: 0; top: 20px; position: absolute; content: "\f078"; font-size: 16px; display: block; font-weight: 400; font-family: "Font Awesome 6 Pro";}
    .links-list span.active::after{content: "\f077";}
    .links-mobile-wrap{display: none;}
    ul.recipes-block{gap:  14px 20px; padding-bottom: 20px;}
    ul.recipes-block li{flex:  0 0 calc(50% - 10px); margin-bottom: 0;}

    .recipes-heading .heading-lt.center{text-align: center;}
}
 
 

