.main_header {width: 100%; top: 0; left: 0; right: 0; position: fixed; z-index: 850; transition: .3s ease-in-out; background: var(--white);}
.main_header:after {content: ""; background:var(--input); height: 1px; width: 100%; display: block; position: absolute; bottom: 0;}
.main_header .header {padding:16px 0 16px;}
.main_header .logo {width: 202px; position: relative;}
.main_header .logo a {width: 100%; height: 100%; display: block;}


/* Header Right */
.main_header .header .toggle_button, .main_header ul li:before {display: none;}
.main_header .header-btm {display: flex; flex-wrap: wrap; justify-content: flex-end;  width: 100%; align-items: center; margin:-1px 0 0 0;}
.main_header .header_right {width: calc(100% - 202px);}


.model-overlay-hide {overflow: hidden;}


/*** Responsive ***/
@media only screen and (min-width:1024px) {
  ul.main_menu {  margin: 0; font-size: 0;}
  ul.main_menu li.flex-menu > ul > li:first-child:before, ul.main_menu li::before {display: none;}
  ul.main_menu > li {margin-left: 32px; display: inline-block; margin-bottom: 0;}
  ul.main_menu > li:first-child {margin-left: 0;}
  ul.main_menu > li > a {padding:14px 0; font-size: 1rem; font-weight: bold; line-height: normal; display: inline-block; position: relative; color: var(--heading); }
    ul.main_menu > li >a::after {content: ''; position: absolute; display: block; margin: auto; height: 2px; width: 0; bottom: 10px; transition: width .5s ease, background-color .5s ease; }
    ul.main_menu > li >a:hover:after, ul.main_menu > li.current-menu-item > a:after, 
	ul.main_menu > li.current-menu-parent > a:after, 
	ul.main_menu > li.current-page-ancestor > a:after, 
	ul.main_menu > li.current_page_item > a:after  {width: 100%; background: var(--green); }


	ul.main_menu > li.current-menu-item > a, 
	ul.main_menu > li.current-menu-parent > a, 
	ul.main_menu > li.current-page-ancestor > a, 
	ul.main_menu > li.current_page_item > a, 
	ul.main_menu > li > a:hover {color: var(--darkgreen);}
    
    
  

	
	
  ul.main_menu > li > ul {margin: 0; padding:23px 36px 18px 32px; min-width: 267px; width: 100%; top: calc(100% + 5px); left: 50%; transform: translate(-50%,0); position: absolute; background-color: var(--white); border-radius: 15px; box-shadow: 0 4px 44px 0 rgba(1,32,237,.15);
opacity: 0; visibility: hidden; transition-duration: .75s; transition-property: all; transition-timing-function: cubic-bezier(.175,.885,.32,1.275); z-index: 851;}
  ul.main_menu > li > ul:before {content: ""; width: 0; height: 0; bottom: 100%; left: 50%; transform: translateX(-50%); border-color: transparent transparent #fff; border-style: solid; border-width: 0 6px 8px; position: absolute;}
  ul.main_menu > li > ul > li {margin: 0 0 12px;}
  ul.main_menu > li > ul > li > a {font-size: 1rem; font-weight: 500; line-height: 1.3; color: var(--violet);}
  ul.main_menu > li > ul > li > a:hover {color: var(--orange);}
  nav.navigation, ul.main_menu > li:hover > ul {opacity: 1; visibility: visible; top: 100%;}
    
    .header-search {margin: 0 0 0 32px;}
    .search_form_container {position:relative;}
    .search_form {right:0; width:calc(100% - 15.6%); bottom:24px; display:none; background:#fff; padding-bottom:3px; z-index:100; max-width:1700px; padding:0 37px 0 0;}
.search_form input[type=search] {border:solid 2px solid 2px var(--input); padding:22px 42px 20px; border-radius: 16px;;}
.search_form input[type=submit] {display:none;}
}


@media only screen and (max-width:1440px)and (min-width:1024px) {
}


@media only screen and (max-width:1399px)and (min-width:1200px) {
	

}

@media only screen and (max-width:1199px)and (min-width:1024px) {
	
}


@media only screen and (max-width:1023px) and (min-width:200px) {
  	.main_header .header {padding: 15px 0 12px; min-height: 80px;}
	
  	.main_header .logo {width: 168px;}
	.main_header .header-btm {position: relative; display: block; clear: both;}
	.main_header.menu-open {background: var(--white);}
	.main_header.menu-open:after {background: rgba(0, 0, 0, 0.1);}
  	.main_header.menu-open .fixed-logo {visibility: visible; opacity: 1;}
	.main_header.menu-open .nav-btn .button {border-color: var(--violet); color: var(--violet);}
	.main_header.menu-open .nav-btn .button:hover {background: var(--violet); color: var(--white);}
	
  	.main_header .header_right.mobile_menu {display: flex; padding:95px 30px 0; width: 100%; height: calc(100% - 80px); top: 80px; left: 0; bottom: 0; position: fixed; background: var(--white); overflow-y: auto; -webkit-overflow-scrolling: touch; transition: .5s ease-in-out; -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; z-index: 100001; opacity: 0; visibility: hidden; margin: 0; text-align: left; overflow-x: hidden;}
	.main_header .header_right.mobile_menu:before, .main_header .header_right .header-btm:after {content: ""; display: block; position: absolute; left: 0; background: url("../images/dots-mobile.svg") 0 0 no-repeat; width: 761px; height: 144px; right: 0; margin: auto; top: -65px}
	.main_header .header_right .header-btm:after {top: inherit; bottom: 29px; margin: auto auto 0 auto; z-index: -1;}
 	 .main_header .header_right.navOpen {opacity: 1; visibility: visible;}
	
  	.main_header .header .toggle_button {position: absolute; flex-direction: column; width: 18px; right: 25px; height: 15px; cursor: pointer; top: -3px; bottom: 0; margin: auto; display: block;} 
	.main_header .header .toggle_button span.line {width: 18px; height: 2px; margin: 0 auto; background-color: var(--white); display: block; position: absolute; top: 50%; transform: translateY(-50%); transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out;} 
    .main_header .header .toggle_button span.line2 {margin-top: 6px;} 
	.main_header .header .toggle_button span.line1 {margin-top: -6px;} 
    .main_header .header .toggle_button.active {width: 18px; background-image: none; z-index: 10001;} 
    .main_header .header .toggle_button.active span.line {width: 18px; display: block; height: 2px; background-color: var(--violet);  top: 50%; position: absolute; transform: translateY(-50%); left: 0; transition: all .5s ease-in-out; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out;} 
    .main_header .header .toggle_button.active span.line1 {margin-top: 0; transform: translateY(-50%) rotate(45deg);} 
    .main_header .header .toggle_button.active span.line2 {visibility: hidden; opacity: 0;} 
    .main_header .header .toggle_button.active span.line3 {margin-top: 0; transform: translateY(-50%) rotate(-45deg);} 
	
	
	/* White/Fixed Header Toggle */
	.white_header .main_header .header .toggle_button span.line, .main_header.fixed-header .header .toggle_button span.line {background-color: var(--violet);}
	
  
	.main_header .header_right .nav-btn {display: none;}
	.main_header .nav-btn {margin: 6px 43px 0 auto;}
	.main_header .nav-btn .button {font-size: 0.938rem; border-width: 2px; padding: 7px 19px 10px 17px;}
  
  
  	.mobile_menu {width: 100%; display: block;} 
    .mobile_menu ul.main_menu {margin: 0; padding:0 0 3px;} 
    .mobile_menu ul.main_menu>li {display: block; margin:0 0 21px 0; text-align: center;} 
    .mobile_menu ul.main_menu>li.menu-item-has-children>a:after {content: "\f107"; font-family: 'Font Awesome 6 Pro'; font-weight: 400; font-size: 20px; display: inline-block; right: 0; top: 11px; transform: none; margin: auto; position: absolute; transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; color: var(--violet);} 
    .mobile_menu ul.main_menu>li.menu-item-has-children>a.active:after {transform: rotate(180deg); color: var(--orange);} 
    .mobile_menu ul.main_menu li:before {display: none;} 
    .mobile_menu ul.main_menu>li>a {font-size: 1.25rem; padding:10px 40px 10px 40px; cursor: pointer; color: var(--violet); font-weight: 600; letter-spacing: 0.15px; position: relative; display: inline-block;} 
    .mobile_menu ul.main_menu>li a:hover {color: var(--orange);} 
    .mobile_menu ul.main_menu li ul {display: none; margin: 0; position: relative; padding: 0 0 15px 0;} 
	.mobile_menu ul.main_menu li ul li {margin-bottom: 10px; font-weight: 500;} 

    .mobile_menu ul.main_menu li ul li a {color: var(--violet); position: relative;} 
	.mobile_menu ul.main_menu li ul li.menu-item-has-children>a {padding-right: 20px; display: block;}
	.mobile_menu ul.main_menu li ul li ul {margin: 0 !important; padding: 15px 0 1px 20px; top: inherit;}
	.mobile_menu ul.main_menu li ul li.menu-item-has-children > a::after {top: 10px;}
	.mobile_menu ul.main_menu li ul li.menu-item-has-children > a.active::after {top:7px;}
	
	.main_header .lang-nav {display: block; width: 100%; text-align: center; margin:10px 0 0 0;}
	.main_header .lang-nav ul li {margin: 0 4.5px; width: 48px; height: 48px;}
	.main_header .lang-nav ul li a {background: var(--white); font-size: 0.938rem; border: solid 2px rgb(34, 75, 115, 0.5); display: flex; width: 100%; height: 100%; flex-wrap: wrap; justify-content: center; align-items: center; border-radius: 50%; color: var(--text-blue); opacity: 0.5;}
	.main_header .lang-nav ul li a:hover {border: solid 2px rgb(34, 75, 115, 1); opacity: 1;}
	.main_header .lang-nav ul li a.current_language, 
	.main_header .lang-nav ul li a:hover, 
	.white_header .main_header .lang-nav ul li a.current_language, 
	.white_header .main_header .lang-nav ul li a:hover, 
	.main_header.fixed-header .lang-nav ul li a.current_language, 
	.main_header.fixed-header .lang-nav ul li a:hover {color: var(--violet); border-color: var(--violet); opacity: 1;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
	.main_header .header_right.mobile_menu:before {left: 81.5%; transform: translateX(-85.5%);}
	.main_header .header_right .header-btm:after {left: 50%; transform: translateX(-42.2%);}
}

@media only screen and (max-width:385px) and (min-width:200px) {
	.main_header .logo {width: 142px; margin-top: 3px;}
}