.marquee-container {white-space: nowrap; position: relative; width: 100%; clear: both; padding: 30px 0 0;}
.marquee-grid {display:inline-block; width: 284px; margin: 10px;}
.marquee-grid figure img {border-radius: 16px;}

/*-- media css starts here --*/
