.more-news-section {z-index: 1; position: relative; background: var(--white); width: 100%; clear: both;}
.more-news-main {width: 100%; clear: both; position: relative; padding: 98px 0 43px;}
.more-news-main:before {content: ""; display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255, 255, 255, 0) 1px); background-position: 0 0; background-size: 8px 2px; background-repeat: repeat-x; height: 2px; width: 100%; position: absolute; top: 0;}
.more-news-heading {margin-bottom: 40px; align-items: center;}
.more-news-heading .heading-lt h2 {font-size: 2rem; margin-bottom: 0; line-height: 2.5rem;}

.more-news-thumb {margin-bottom: 24px; filter: blur(4px); height: 222px;}
.more-news-thumb img {border-radius: 4px;}


.more-news-list h3 {font-size: 1.25rem; font-family: DM Sans; font-weight: 500; line-height: 1.4; margin-bottom: 10px;}
.more-news-list h3 a {color: var(--foreground);}
.more-news-list h3 a:hover {color: var(--green);}
.more-news-list p {margin-bottom: 12px; font-size: 1rem; opacity: 0.75; color: var(--foreground); line-height: 1.5;}


@media only screen and (max-width: 1199px) {
    .more-news-main {padding: 98px 0 98px;}
}


@media only screen and (min-width: 1024px) {
    .more-news-list {width: 30.8359375%; margin: 0 0 0 3.671875%;}
    .more-news-list:nth-child(3n+1) {margin-left: 0;}
}

@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .more-news-main {padding: 60px 0;}
    .more-news-row {justify-content: center;}
    .more-news-list {width: 45.86%; margin: 0 0 53px 53px;}
    .more-news-list:nth-child(2n+1) {margin-left: 0;}
    .more-news-list:nth-child {margin-bottom: 0;}
}

@media only screen and (max-width: 719px) and (min-width: 200px) {
    .more-news-main {padding: 52px 0 80px;}
    .more-news-heading {margin-bottom: 33px;}
    .more-news-heading .heading-lt h2 {font-size: 1.5rem;}
    
    .more-news-list {margin-bottom: 24px; width: 100%;}
    .more-news-list:last-child {margin-bottom: 16px;}
    .more-news-list h3 {margin-bottom: 12px;}
    .more-news-thumb {height: 197px;}
    
}