.more-recipes-section {z-index: 1; position: relative; background: var(--white); width: 100%; clear: both;}  
.more-recipes-main{width: 100%; clear: both; position: relative;}
.more-recipes-main:before {content: ""; display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px);
    background-position: 0 0; background-size: 11px 2px; background-repeat: repeat-x; height: 2px; width: 100%; position: absolute; top: 0;}
  .more-recipes-heading{margin-bottom: 40px;align-items: center;}
  .more-recipes-heading .heading-lt h2{font-size: 2rem; margin-bottom: 0; line-height: 2.5rem;}
  .more-recipes-thumb{margin-bottom: 24px;}
  .more-recipes-thumb img{border-radius: 4px;}
  .more-recipes-list h3{font-size: 1.25rem;  font-family: DM Sans; font-weight: 500; }
  .more-recipes-list h3 a{color: var(--foreground);}
  .more-recipes-list h3 a:hover{color: var(--green)}
  


  @media only screen and (min-width: 1200px) {
    .more-recipes-main{padding:98px 0 68px;}
  }


  @media only screen and (max-width: 1199px) and (min-width: 1024px) {
  .more-recipes-main{padding: 64px 0 40px;}
  }


  @media only screen and (min-width: 1024px) {
    .more-recipes-row{gap: 48px;}
    .more-recipes-list{flex: 0 0 calc(25% - 36px);}
    .more-recipes-thumb {height: 189px;}
}

  @media only screen and (max-width: 1023px) and (min-width: 720px) {
    .more-recipes-main{padding: 40px 0;}
    .more-recipes-row{gap:  0 48px;}
    .more-recipes-list{flex: 0 0 calc(50% - 36px); margin-bottom: 25px;}
  }


  @media only screen and (max-width: 719px) and (min-width: 200px) {
    .more-recipes-main{padding: 40px 0 80px;}
    /* .more-recipes-main{margin-bottom: 80px;} */
    .more-recipes-heading .heading-lt h2{font-size: 1.5rem; }
    .more-recipes-list{margin-bottom: 22px; width: 100%;}
    .more-recipes-main .heading-rt{justify-content: flex-start;}
}