.newsletter-signup {clear: both; width: 100%; position: relative; background: var(--white);}
.newsletter-main {  padding: 64px;  position: relative; align-items: center; z-index: 1;}

.newsletter-main .frm_forms .frm_form_fields .frm_form_field{margin-bottom: 20px;}

.newsletter-main .frm_wrapper{align-items: center;}
.newsletter-main .frm_wrapper .frm_submit .frm_button_submit{padding: 14px 20px 15px 20px; margin-left: 24px;}
.newsletter-main .frm_wrapper button:after {content: "\f1d8";}
.newsletter-main{gap: 28px;}
.newsletter-left{flex: 63.2%; gap: 28px}
.text-column {width:  396px;  margin: auto 0;}
.text-column span{margin-bottom: 17px; font-family: "Dmserifdisplay";}
.text-column .h2{margin-bottom: 0;}
.image-column {  max-width: 287px; } 
.newsletter-right{flex: calc(36.8% - 28px); }

.newsletter-main .frm_button_submit{gap: 24px;}
.newsletter-main .frm_form_field.form-note{flex: 1; line-height: 1rem; font-size: 0.625rem; }
.newsletter-main .frm_wrapper .frm_form_field.form-note{margin-bottom: 0 !important;}

@media only screen and (min-width: 1024px){
   .newsletter-form .frm_forms .frm_form_fields .frm_form_field{float: none; width: 100%;}
}
@media only screen and (min-width: 1200px){
   .newsletter-main::before{ outline: 8px solid var(--input); display: block; content: ""; width: 100%; position: absolute; box-sizing: border-box; left: 0; height: calc(100% - 250px); top: 121px; z-index: -1; border-radius: 30px; }
}
@media only screen and (max-width: 1360px) and (min-width: 1200px) {
   .newsletter-main{gap: 10px;}
   .newsletter-left { flex: 65.2%; gap: 28px; }
   .text-column{width: 350px;}
   .image-column{max-width: 260px; }
   .newsletter-right{flex: calc(31.5% - 10px);}
} 
@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .newsletter-main{gap: 80px; align-items: inherit; padding: 40px; border: 8px solid var(--input); border-radius: 32px; margin-bottom: 40px;}
    .newsletter-main::before{top: 0;}
   .newsletter-left { flex: 40%; gap: 0;}
   .text-column{width: 392px;}
   .text-column .h2{font-size: 2rem;}
   .image-column picture { display: block; }
   .image-column { max-width: 100%; width: 100%; margin-top: 25px;}
   .newsletter-right{flex: calc(50% - 80px);}
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .newsletter-main .frm_wrapper .frm_button_submit {margin-left: 0;}
}

@media only screen and (max-width: 1023px) and (min-width: 720px) {
   .newsletter-main{padding: 32px; border: 8px solid var(--input); display: block; border-radius: 32px; margin-bottom: 40px;}
   .newsletter-left{width: 100%; display: block; text-align: center;}
   .text-column{width: 100%;}
   .text-column .h2{font-size: 2rem;}
   
   .newsletter-img{position: relative;}
   .newsletter-img::before {  content: ""; display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 11px 2px; background-repeat: repeat-x; position: absolute; left: -58px; right: auto; height: 100%; width: 111px; top: 50%; transform: translatex(-50%); }
   .newsletter-img::after{  content: ""; display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 11px 2px; background-repeat: repeat-x; position: absolute; left: auto; right: -164px; height: 100%; width: 111px; top: 50%; transform: translatex(-50%); }
  
   .image-column picture {display: block; max-width: 333px; margin: 0 auto;}
   .image-column { max-width: 100%; width: 100%; margin: 32px 0 32px;}
   .newsletter-main .frm_forms .frm_form_fields .newsletter_frm_half{width: calc(50% - 10px); margin-left: 10px; margin-right: 10px; float: left; clear: none; display: inline-block; vertical-align: top;}
   .newsletter-main .frm_forms .frm_form_fields .newsletter_frm_half.frm_first{margin-left: 0;}
   .newsletter-main .frm_forms .frm_form_fields  .newsletter_frm_half.frm_last{margin-right: 0;}
   .newsletter-main .frm_wrapper{display: block; text-align: center;}
   .newsletter-main .frm_form_field.form-note{margin-bottom: 16px;}
}

@media only screen and (max-width: 719px) and (min-width: 200px) {

   .newsletter-main{padding: 20px; border: 8px solid var(--input); display: block; border-radius: 32px; margin: 40px 0 40px;}
   .newsletter-left{width: 100%; display: block; text-align: center;}
   .text-column{width: 100%;}
  .text-column .h2{font-size: 1.5rem;}
  .text-column span{margin-bottom: 10px;}
   .newsletter-img img { min-width: 390px; position: relative; left: -48px; }

   .image-column picture {display: block; max-width: 354px; margin: 0 auto;}
  .image-column { max-width: 100%; width: 100%; margin:34px 0 32px;}
  .newsletter-main .frm_forms .frm_form_fields .frm_form_field{float: none; width: 100%;}
  .newsletter-main .frm_wrapper{display: block; text-align: center;}
  .newsletter-main .frm_form_field.form-note{margin-bottom: 16px;}

}
@media only screen and (max-width: 385px) and (min-width: 200px) {
   .newsletter-img img { min-width: 370px;}
}
