.tv-host-slider hr{margin: 0;}
.tv-host-heading{ margin-bottom: 48px;align-items: center; }
.tv-host-list{margin: 0 28px; text-align: center;}
.tv-host-list span{display: block;}

.host-bg-wrap {width: 122px; height: 122px; display: flex; align-items: center; justify-content: center; margin-bottom: 15px; }
.host-bg{position: relative;background-color: red; border-radius: 50%;  width: 112px; height: 112px; display: flex; align-items: center; overflow: hidden; justify-content: center; margin: 5px;}
.tv-host-img img{ border-radius: 50%;}
.host-text .title{font-size: 1rem; color: var(--body-text); line-height: 1.25rem; font-weight: bold; margin-bottom: 3px;}
.host-text .position{font-size: 0.75rem; color: var(--foreground); line-height: 0.75rem; font-weight: bold; opacity: 0.5;}
.tv-host-row::before{ background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%); position: absolute; content: ""; display: block; top: 0; left: 0; z-index: 1; width: 80px; height: 170px;}
.tv-host-row::after{ background: linear-gradient(-90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%); position: absolute; content: ""; display: block; top: 0; right: 0; z-index: 1; width: 80px; height: 170px;}

.recipes-form  .form-field{width: 100%;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px) {
    .tv-host-main{padding: 97px 0 70px;}
    .tv-host-heading{gap: 40px;}
    .tv-host-heading .heading-lt { flex: 0 0 50%; }
    .tv-host-heading .heading-rt { flex: 0 0 calc(50% - 40px); }
}

@media only screen and (max-width: 1299px) and (min-width: 1024px) {
    .tv-host-main{padding: 70px 0 64px;}

}

@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .tv-host-main { padding: 52px 0 40px; }
    .tv-host-list{margin: 0 15px;}
    .tv-host-heading { margin-bottom: 40px; }
    .tv-host-heading h3{font-size: 1.5rem;}
    .host-bg-wrap{width: 97px; height: 97px;}
    .host-bg{width: 90px; height: 90px; margin: 4px; }
    .tv-host-img img{max-height: 89.6px;}
    .host-text .title{font-size: 0.8rem;}
}


@media only screen and (max-width: 719px) and (min-width: 200px) {
    .tv-host-main { padding: 65px 0 80px; }
     /* .tv-host-heading{display: block;}  */
   
    .tv-host-list{margin: 0 15px;}
    .tv-host-heading { margin-bottom: 38px;}
    .tv-host-heading h3{font-size: 1.5rem;}
    .host-bg-wrap{width: 97px; height: 97px;}
    .host-bg{width: 90px; height: 90px;}
    .tv-host-img img{max-height: 89.6px;}
    .host-text .title{font-size: 0.8rem; margin-bottom: 0;}
    .host-text .position{font-size: 0.6rem;}
}

