.tv-show-slider hr{margin: 0;}
.tv-show-main{padding: 80px 0 ;}
.tv-show-heading { margin-bottom: 55px; align-items: center;}
.tv-show-row .slick-track{display: flex; align-items: center;}
.tv-show-img { margin: 0 24px;}
.tv-show-img img{max-height: 86px;}
.tv-show-row::before{background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%); display: block; content: ""; width: 80px; height: 101px; position: absolute; top: 0; left: 0; z-index: 1;}
.tv-show-row::after{background: linear-gradient(-90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);display: block; content: ""; width: 80px; height: 101px; position: absolute; top: 0; right: 0; z-index: 1;}

@media only screen and (min-width: 1024px) {
    .tv-show-heading { gap: 40px; }
    .tv-show-heading .heading-lt { flex: 0 0 50%; }
    .tv-show-heading .heading-rt { flex: 0 0 calc(50% - 40px); }
}

@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .tv-show-main{padding: 52px 0 40px;}
    .tv-show-heading { margin-bottom: 40px; }
    .tv-show-heading h3{font-size: 1.5rem;}
    .tv-show-img img{max-height: 64px;}
}

@media only screen and (max-width: 719px) and (min-width: 200px) {
   
    .tv-show-heading { margin-bottom: 50px;}
    .tv-show-heading h3{font-size: 1.5rem;}
    .tv-show-img img{max-height: 48px;}
}