.tv-host-slider hr{margin: 0;}
.tv-host-heading{ margin-bottom: 48px; }
.tv-host-list{margin: 0 28px;}
.tv-host-list span{display: block;}
.host-bg{position: relative; background: red; border-radius: 50%; width: 112px; height: 112px; display: flex; align-items: flex-end; overflow: hidden;}
.host-bg:before{display: block; content: ""; position: absolute; border-radius: 50%; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 11px 2px; background-repeat: repeat-x; height: 120px; width: 120px; top: 0; left: 0; z-index: 1;}
.tv-host-img img{max-height: 112px;}
.host-text{text-align: center;}
.host-text .title{font-size: 1rem; color: var(--body-text); line-height: 1.25rem; font-weight: bold; margin-bottom: 3px;}
.host-text .position{font-size: 0.75rem; color: var(--foreground); line-height: 0.75rem; font-weight: bold; opacity: 0.5;}
.tv-host-row::before{ background: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%); position: absolute; content: ""; display: block; top: 0; left: 0; z-index: 1; width: 80px; height: 170px;}
.tv-host-row::after{ background: linear-gradient(-90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%); position: absolute; content: ""; display: block; top: 0; right: 0; z-index: 1; width: 80px; height: 170px;}


/*-- media css starts here --*/
@media only screen and (min-width: 1024px) {
    .tv-host-main{padding: 97px 0 70px;}


}

@media only screen and (max-width: 1299px) and (min-width: 1024px) {
    .tv-host-main{padding: 70px 0 64px;}

}

@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .tv-host-main { padding: 52px 0 40px; }
    .tv-host-heading { margin-bottom: 40px; }
    .tv-host-heading h3{font-size: 1.5rem;}
    .host-bg{width: 89.6px; height: 89.6px;}
    .tv-host-img img{max-height: 89.6px;}
}


@media only screen and (max-width: 719px) and (min-width: 200px) {
    .tv-host-main { padding: 65px 0 80px; }
    .tv-host-heading .heading-lt{width: 67%;}
    .tv-host-heading .heading-rt{width: calc(100% - 67%);}
    .tv-host-list{margin: 0 15px;}
    .tv-host-heading { margin-bottom: 38px;}
    .tv-host-heading h3{font-size: 1.5rem;}
    .host-bg{width: 89.6px; height: 89.6px;}
    .tv-host-img img{max-height: 89.6px;}
}

