@import url("../css/_intro-module.css");
@import url("../css/_optional-cta-module.css");
@import url("../css/_marquee.css");

.about-container section {position: relative; clear: both; width: 100%;}


.statistics-main {padding: 96px 0; position: relative;}
.statistics-main:after {content: ""; display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255, 255, 255, 0) 1px); background-position: 0 0; background-size: 8px 2px; background-repeat: repeat-x; height: 2px; width: 100%; position: absolute; bottom: 0;}
.statistics-container .heading {align-items: flex-start; padding: 0 0 58px 0;}
.statistics-container .heading-lt {width: 75%;}
.statistics-container .heading-rt {width: calc(100% - 75%);}
.count-main {clear: both; width: 100%;}
.count-grid {width: 30%; display: inline-block; margin: 5% 0 0 5%;}
.count-grid:nth-child(3n+1) {margin-left: 0;}
.count-grid:nth-child(-n+3) {margin-top: 0;}
.count-grid .count {display: block; line-height: 0.63; text-shadow: 4px 4px 0 rgba(191, 208, 0, 0.25); font-size: 8rem; color: var(--optionaltxt); font-family:"DM Serif Display", sans-serif; margin: 0 0 23px 0;}
.count-grid h2 {font-size: 2rem; line-height: 1.25; margin-bottom: 24px;}
.count-grid p {font-size: 1rem; line-height: 1.5; color: var(--foreground); margin-bottom: 19px;}


.international-main {padding: 96px 0; position: relative; justify-content: space-between;}
.international-main:after {content: ""; display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255, 255, 255, 0) 1px); background-position: 0 0; background-size: 8px 2px; background-repeat: repeat-x; height: 2px; width: 100%; position: absolute; bottom: 0;}

.international-lt {width: 27%; flex-grow: 1;}
.international-lt p {font-size: 1rem; line-height: 1.5; color: var(--foreground); margin-bottom: 19px;}
.international-lt .button:after {display: none;}
.international-rt {width: calc(100% - 27%);}
.international-rt .map-thumb {max-width: 850px; margin-left: auto;}

/*-- media css starts here --*/
@media only screen and (max-width: 1023px) and (min-width: 200px) {
    
    
}