@import url("../css/default-page.css");

.default_form .frm_forms .frm_form_fields .frm_form_field label a {color: var(--foreground);}
.default_form .frm_forms .frm_form_fields .frm_form_field label a:hover {color: var(--green);}
.default_form .frm_forms .frm_form_fields .frm_form_field.vertical_radio a {text-decoration: underline;}


/*-- media css starts here --*/


@media only screen and (max-width: 719px) and (min-width: 200px) {
    .general-default-article-section h1 {margin-bottom: 47px;}
    .general-default-article-section .default-inner > p:first-of-type {margin: 0 0 46px 0;}
    .apply-wrap {margin: 0 0 52px 0;}
}