.contact-main {clear: both; width: 100%; padding: 80px 0 70px;}
.contact-form-main {padding: 56px; border-radius: 24px; border: solid 8px var(--input); justify-content: space-between; font-size: 1rem; line-height: 1.5;}

.contact-form-lt {width:18.15%; flex-grow: 1; margin: -1px 3% 0 0;}
.contact-form-lt .optional-text {margin: 0 0 32px 0;}
.contact-form-lt h1 {font-size: 2.5rem; line-height: 1.2; margin-bottom: 30px;}
.contact-form-lt .address {font-size:0;}
.contact-form-lt .address .h6 {margin: 0 0 2px 0; color: var(--foreground);}
.contact-form-lt .address .address-top p {max-width: 220px; margin-bottom: 12px;}
.contact-form-lt .address p {font-size: 1rem; line-height: 1.5;}
.contact-form-lt .address span {display: block; position: relative; padding:0 0 0 24px; margin: 0 0 12px 0;}
.contact-form-lt .address span:last-child {margin: 0;}
.contact-form-lt .address span i {position: absolute; left: 0; color: var(--green); top: 5px;}
.contact-form-lt .address a {text-decoration: none; }

.contact-form-rt {width: 55.177%; flex-grow: 1;}
.contact-form-rt .frm_forms .frm_form_fields .frm_form_field label a {color: var(--foreground);}
.contact-form-rt .frm_forms .frm_form_fields .frm_form_field label a:hover {color: var(--green);}
.contact-form-rt .frm_forms .frm_form_fields .frm_form_field.vertical_radio {margin: 0;}
.contact-form-rt .frm_forms .frm_form_fields .frm_form_field.vertical_radio a {text-decoration: underline;}
.contact-form-rt .frm_forms .frm_submit {margin: 0; text-align: right;}
.contact-form-rt .frm_forms .frm_form_fields textarea {min-height: 212px;}

.contact-grids-main {margin: 117px 0 0 0;}
.contact-grid {display: inline-block; font-size: 1rem; line-height: 1.5; width: 26.9%; position: relative; padding: 2px 3.75% 0 3.75%; margin: 0 0 11px 0;}
.contact-grid:before {content: ""; display: inline-block; position: absolute; left: 0; top: 0; height: 100%; background-image: radial-gradient(circle at 1px, var(--green) 1px, rgba(255,255,255,0) 1.25px); width: 2px; background-size:2px 8px;}
.contact-grid:nth-child(4n+1):before {display: none;}
.contact-grid:nth-child(4n+1) {padding-left: 0; width: 23.1%;}
.contact-grid:nth-child(4n) {padding-right: 0; width: 23.1%;}
.contact-grid h2 {font-size: 1.5rem; line-height: 1.17; margin-bottom: 17px;}
.contact-grid p {font-size: 0.875rem; line-height: 1.57; color: var(--foreground); margin-bottom: 15px;}
.contact-grid .cg-details {font-size: 0;}
.contact-grid .cg-details span {display: block; font-size: 1rem; line-height: 1.5; position: relative; padding:0 0 0 24px; margin: 0 0 8px 0;}
.contact-grid .cg-details span:last-child {margin: 0;}
.contact-grid .cg-details span i {position: absolute; left: 0; color: var(--green); top: 5px;}
.contact-grid .cg-details a {font-weight: bold;}







@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .contact-main {padding: 64px 0 70px;}   
    .contact-form-lt {width: 30%;}
    .contact-form-rt {width: 52.445%;}   
}


@media only screen and (max-width: 1199px)  and (min-width: 720px) {
    .contact-form-main {padding: 32px;}
    .contact-form-rt .frm_forms .frm_form_fields .frm_form_field:nth-child(3),
    .contact-form-rt .frm_forms .frm_form_fields .frm_form_field:nth-child(4) {width: 100%; margin-left: 0; margin-right: 0;}
    .contact-form-rt .frm_forms .frm_form_fields .frm_form_field.vertical_radio {width: 100%; margin: 0 0 24px 0;}
}

@media only screen and (max-width:1199px) and (min-width:200px) {
    .contact-form-rt .frm_forms .frm_form_fields .frm_form_field.frm_first {margin-right: 20px;}
    .contact-form-rt .frm_forms .frm_form_fields .frm_form_field.frm_half {width:calc(50% - 10px);} 
    .contact-form-rt .frm_forms .frm_form_fields .frm_form_field {margin-bottom: 20px;}
    .contact-form-rt .frm_forms .frm_form_fields textarea {min-height: 128px;}
}


@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .contact-main {padding: 40px 0;}
    .contact-form-lt {width: 100%; margin: 0 0 29px 0;}
    .contact-form-lt .address {display: flex; flex-wrap: wrap; width: 100%; align-items: center; justify-content: space-between;}
    .contact-form-lt .address-top, .contact-form-lt .address-contact {display: inline-block; width: 50%;}
    .contact-form-lt .address span {margin: 0 0 4px 0;}
    .contact-form-lt .address span i {top: 4px;}
    .contact-form-lt .optional-text {margin: 0 0 24px 0;}
    .contact-form-lt h1 {margin-bottom: 22px;}
    
    
    .contact-grids-main {margin: 90px 0 0 0;}
    .contact-grid, .contact-grid:nth-child(4n+1), .contact-grid:nth-child(4n) {width: 50%; padding: 0 10%; margin: 0 0 60px 0;}
    .contact-grid:nth-child(2n+1) {padding-left: 0;}
    .contact-grid:nth-child(2n+1):before {display: none;}
    .contact-grid:nth-child(2n) {padding-right: 0;}
}


@media only screen and (max-width: 719px) and (min-width: 200px) {    
    .contact-main {padding: 40px 0 41px;}
    .contact-form-main {padding: 19px 20px 20px 20px;}
    .contact-form-lt {width: 100%; margin: 0 0 29px 0;}
    .contact-form-lt h1 {font-size: 2rem; line-height: 1.25; margin-bottom: 18px;}
    .contact-form-lt .optional-text {margin: 0 0 20px 0;}
    .contact-form-rt .frm_forms .frm_form_fields .frm_form_field:nth-child(3),
    .contact-form-rt .frm_forms .frm_form_fields .frm_form_field:nth-child(4) {width: 100%; margin-left: 0; margin-right: 0;}
    
    .contact-form-rt .frm_forms .frm_form_fields .frm_form_field.vertical_radio {width: 100%; margin: 0 0 23px 0;}
    .contact-form-rt .frm_forms .frm_submit button {width: 100%;}
    
    .contact-grids-main {margin: 38px 0 0 0;}
    .contact-grid, .contact-grid:nth-child(4n+1), .contact-grid:nth-child(4n) {width: 100%; padding: 41px 0 0 0; margin: 0 0 39px 0;}
    .contact-grid:before {background-size:8px 2px; height: 2px; width: 100%;}
    .contact-grid:last-child {margin-bottom: 0;}
}

@media only screen and (max-width:385px) and (min-width: 200px) { 
    .contact-form-rt .frm_forms .frm_form_fields .frm_form_field.frm_half {width: 100%;}
}

