@import url("../css/_accordion-module.css");
@import url("../css/_single-testimonial-module.css");

.general-default-article-section {float: left; width: 100%; padding:82px 0 43px;}
.general-default-article-section ol {margin: 28px 0 61px 24px}
.default-main {justify-content: space-between;}
.default-inner {width:67.1875%;}
.sidebar {width: calc(100% - 76.5625%);}

.breadcrumb {clear: both; width: 100%;}
.breadcrumb ul {margin: 0; font-size: 0;}
.breadcrumb ul li {display: inline-block; font-size:1.125rem; color: var(--foreground); margin: 0;}
.breadcrumb ul li:before {left: inherit; top: inherit; content: ""; position: relative; margin: 0 21px; display: inline-block; vertical-align: middle; color: var(--heading);}
.breadcrumb ul li:first-child:before {display: none;}
.breadcrumb ul li a {text-decoration: none; font-size:1.125rem; color:var(--optionaltxt); font-weight: 400;}
.breadcrumb ul li a:hover {color: var(--heading);}



/*-- media css starts here --*/
@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
	
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	
	
}
@media only screen and (max-width: 767px) and (min-width: 200px) {
	
}