@import url("../css/_tv-host-slider.css");
@import url("../css/_optional-cta-module.css");

.featured-host-heading h2{font-size: 1.5rem; margin-bottom: 0;}
.featured-host-heading{margin-bottom: 32px;}

.featured-host-img{position: relative; margin-bottom: 20px; width: 100%; clear: both;}
.featured-host-thumb{position: relative; border-bottom: 3px solid var(--darkgreen); z-index: 1;}
.featured-host-bg{position: absolute; left: 0; bottom: 0; z-index: -1;}
.featured-host-row{margin-bottom: 32px; justify-content: space-between;}
.featured-host-content h2{font-size: 2rem; color: var(--foreground); margin-bottom: 0;}
.featured-host-lt p{font-size: 1rem; color: var(--foreground); opacity: 0.75;}
.featured-host-list{margin-bottom: 24px; align-items: center;}
.featured-host-image img{border-radius: 6px;}
.featured-host-text h2{font-size: 1.5rem; color: var(--foreground); margin-bottom: 12px; font-family: DM Sans , sans-serif;}

  .hosts-img { position: relative; }
  .hosts-thumb {position: relative; z-index: 1; border-bottom: 3px solid var(--darkgreen); }
  .hosts-bg { position: absolute; z-index: -1; left: 0; bottom: 0;}
  .hosts-text{padding: 22px 24px 16px;}
  .hosts-text h3{font-size: 1.5rem; line-height: 1.75rem;}
  .hosts-text p{font-size: 1rem; line-height: 1.5rem;}
  .cat-wrap ul li {margin-bottom: 8px;}
  .cat-wrap{margin-bottom: 0;}

  .hosts-list:nth-child(10){flex: 0 0 100%;}

  @media only screen and (min-width: 1200px) {
    .knife-update img { height: 71.5px; width: 295px; }
    .knife-update.ad img { width: 295px; height: 250px; }
}

@media only screen and (min-width: 1024px) {
    .tv-host-main{padding: 40px 0;}
    .tv-host-heading h1{ margin-bottom: 0;}

    .featured-host-main{gap: 80px; padding: 40px 0 80px;}
    .featured-host-lt{flex: 1;}
    .featured-host-rt{flex: 1;}
    .featured-host-thumb figure{max-width: 600px;}
    .featured-host-bg{max-width: 600px;}
    .featured-host-image figure{height: 160px;}
    .featured-host-list{gap: 32px;}
    .featured-host-image{flex: 0 0 40%;}
    .featured-host-text{flex: 0 0 calc(60% - 32px);}

    .hosts-main{padding: 80px 0;}
    .hosts-cont span{float: left; font-size: 0.75rem; font-weight: bold; line-height: 0.75; margin-right: 8px; }
    .hosts-row{gap: 56px 72px; margin-bottom: 48px;}
    .hosts-list{flex: 0 0 calc(33.33% - 48px);}
    .hosts-cont .cat-wrap{display: inline-block;}
  
    .hosts-thumb figure{ max-width: 379px;}
    .hosts-bg { max-width: 379px; width: 100%;}  

    .knife-update.ad img{height: 250px;}
    
}
@media only screen and (max-width: 1199px) and (min-width: 1024px) {
.knife-update.ad{margin: 0;}

}