@import url("../css/_more-recipes-section.css");
@import url("../css/_more-shows-module.css");
@import url("../css/_tv-host-slider.css");
@import url("../css/_optional-cta-module.css");





.hosts-template-banner{clear: both; width: 100%;}
.hosts-template-wrap{ position: relative; clear: both;}
.hosts-template-banner-bg{position: absolute; z-index: -1; overflow: hidden;  border-radius: 16px; height: 100%; width: 100%;}
.hosts-template-banner-bg img{filter: blur(5px); border-radius: 16px;}
.hosts-template-banner-bg::after{position: absolute; content: ""; display: block; left:0; top: 0; width: 100%; height: 100%; background-color:  rgba(255, 255, 255, 0.75); border-radius: 16px;}
.hosts-tem-banner-rt{ justify-content: flex-end; display: flex; flex-direction: column; }
.host-tem-banner-lt p{margin-bottom: 24px;}  
.host-banner-row{align-items: center; }
.hosts-tem-banner-wrap{position: relative;}
.hosts-tem-banner-thumb{position: relative; z-index: 1;}


.host-tem-icons .share-text{margin-right: 0;}
ul.follow-icons > li{  margin-bottom: 0; background: var(--limegreen); border-radius: 50%; width: 40px; height: 40px; align-items: center; display: flex;}
ul.follow-icons > li a{text-decoration: none;}
ul.follow-icons > li::before{display: none;}
ul.follow-icons{  margin: 0;}
ul.follow-icons li:last-child{margin-right: 0;}
.host-tem-icons{ align-items: center;}

.hosts-tem-main{padding: 40px 0 102px;}
.hosts-article hr{margin: 40px 0;}
.hosts-aside-main{padding: 23px; border: 8px solid var(--input); border-radius: 24px; margin-bottom: 32px;}

.hosts-aside-main p:before{position: absolute; margin: auto; content: "\f10d"; font-family:  "Font Awesome 6 Pro"; color: var(--green); display: block; left: 0; top: -10px; right: 0; width: 28px; height: 32px; font-weight: 900; font-size: 2rem; }
.hosts-aside-main p{ text-align: center; color: var(--heading); font-family: DM Sans , sans-serif; font-size: 1.25rem; position: relative; margin: 0; padding: 45px 0;}
.hosts-aside-main p:after{position: absolute; margin: auto; content: "\f10e"; font-family:  "Font Awesome 6 Pro"; color: var(--green); display: block; left: 0; bottom: 4px; right: 0; width: 28px; height: 32px; font-weight: 900; font-size: 2rem;}



.host-tem-banner-lt .follow-icons > li {background-color: var(--white)!important;}
.host-tem-banner-lt .follow-icons > li:hover{background-color: rgb(67, 67, 223)!important; color: var(--white)}

@media only screen and (min-width: 1200px){
  .hosts-template-wrap{margin: 80px 0 40px;}
  .hosts-template-banner-bg{min-height: 512px;}
  .hosts-template-banner-main{gap: 80px; padding: 0 64px;}
  .host-tem-banner-lt{margin: auto 0;   flex: 0 0 34.8%;}
  .hosts-tem-banner-rt{flex: 0 0 calc(65.2% - 80px);  }
  .hosts-tem-main{gap: 120px;}
  .hosts-article{flex: 0 0 67.2%;}
  .hosts-aside{flex: 0 0 calc(32.8% - 120px);}
  .hosts-tem-banner-wrap{padding-top: 65px;}

  .host-tem-icons{gap: 18px;}
  .host-tem-icons .share-text{flex: 0 0 32%;}
    ul.follow-icons{flex: 0 0 calc(68% - 18px);}
    ul.follow-icons > li{ margin-right: 8px;}
}

@media only screen and (min-width: 1024px){
  
  
    .hosts-banner-row{justify-content: space-between;}
    .tv-host-main{padding: 80px 0;}
  }


  @media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .hosts-tem-main{gap: 56px;}
    .hosts-article{flex: 0 0 65.2%;}
    .host-tem-icons .share-text{flex: 0 0 38%;}
    ul.follow-icons{flex: 0 0 calc(62% - 10px);}
    ul.follow-icons > li{ margin-right: 8px;}
    
    .hosts-aside{flex: 0 0 calc(34.8% - 56px);}
    .hosts-template-wrap{margin: 64px 0 32px;}
    .hosts-template-banner-main{ padding: 0 48px;}
    .hosts-template-banner-bg{min-height: 384px};
    .hosts-tem-main{padding: 32px 0 32px;}
    .host-tem-banner-lt{flex: 0 0 39.2%; margin: auto 0;}
    .host-tem-banner-lt h1{font-size: 2rem;}
    .host-tem-banner-lt p{font-size: 1.125rem;}
    .hosts-tem-banner-rt{flex: 0 0 calc(100% - 39.2%);  }
    .hosts-tem-banner-wrap{padding: 40px 0 0;}
  }


  @media only screen and (max-width: 1023px) and (min-width: 720px) {
    .hosts-template-wrap{margin: 40px 0 40px;}
    .hosts-template-banner-main{padding: 0 40px ;}
    .host-tem-banner-lt{padding: 64px 0}
    .host-tem-banner-lt h1{font-size: 2.5rem;}
    .host-tem-banner-lt p{font-size: 1rem;}
    .hosts-article{margin-bottom: 40px;}

    .host-tem-icons{gap: 20px}
    .host-tem-icons .share-text{flex: 0 0 22%;}
    ul.follow-icons{flex: 0 0 calc(78% - 20px);}
    ul.follow-icons > li{ margin-right: 8px;}

  }
  @media only screen and (max-width: 719px) and (min-width: 390px) {
    .hosts-template-wrap{margin: 20px 0;}
    .hosts-template-banner-main{padding: 0 20px ;}
    .host-tem-banner-lt{padding: 40px 0;}
    .host-tem-banner-lt h1{margin-bottom: 24px; font-size: 2rem;}
    .host-tem-banner-lt p{font-size: 1rem;}

    .hosts-tem-main{padding: 20px 0 54px;}
    .hosts-img img{height: 71.5px;}
    .hosts-article{padding: 0 0 40px;}

    .tv-host-main{padding: 56px 0 40px;}
    .host-tem-icons{gap: 18px}
    .host-tem-icons .share-text{flex: 0 0 39%;}
    ul.follow-icons{flex: 0 0 calc(61% - 18px);}
    ul.follow-icons > li{ margin-right: 8px;}
  }