@import url("../css/_trending-recipe-section.css");
@import url("../css/_optional-cta-module.css");
@import url("../css/_gustotv-recipes-section.css");
@import url("../css/_browse-section.css");




    
    .category-img{margin-bottom: 24px;}
    .category-img figure{height: 256px;}
    .category-img img{border-radius: 4px;}
    .category-text h3{font-size: 1.25rem; color: var(--foreground); font-family: DM Sans , sans-serif; font-weight: 500;}
    .category-text h3 a{color: var(--foreground);}
    .category-text h3 a:hover{color: var(--green);}
    .category-list .cat-wrap{margin: 0;}
    
    .category-list:nth-child(10) { flex: 0 0 100%; }
    
    .page-template-recipe-category.recipes-main{padding: 40px 0;}
    .page-template-recipe-category  .knife-update.ad img { height: 250px; }
    .page-template-recipe-category .browse-main{padding: 0;}

@media only screen and (min-width: 1200px) {
    .page-template-recipe-category .trending-recipe-main {padding: 0 0 56px;}
    .category-list .knife-update img { height: 71.5px; width: 295px; }
    .category-list .knife-update.ad img { width: 295px; height: 250px; }
    .category-list .cat-wrap ul li {margin: 0 8px 0 0}
    .category-row{align-items: center;}

}
@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .page-template-recipe-category .knife-update.ad { margin: 0; }
    .trending-recipe-main{padding: 0 0 40px;}
}
@media only screen and (min-width: 1024px) {
    .category-main{padding: 80px 0;}
    .category-row{gap: 80px 64px; margin-bottom: 80px;}
    .category-list{flex: 0 0 calc(33.33% - 43px);}

    .page-template-recipe-category .recipes-main hr{margin: 54px 0 56px;}
    .page-template-recipe-category .browse-main{padding: 0;}
}

@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .page-template-recipe-category .trending-recipe-main{padding: 0 0 40px;}
    .category-main{padding: 40px 0;}
    .category-row{gap: 60px 48px; margin-bottom: 60px; align-items: center;}
    .category-list{flex: 0 0 calc(50% - 24px);}
    .page-template-recipe-category .recipes-main hr{margin: 40px 0 40px;}

}
@media only screen and (max-width: 719px) and (min-width: 200px) {
    .page-template-recipe-category .trending-recipe-main{padding: 0 0 16px;}
    .category-main{padding: 40px 0;}
    .category-list{margin-bottom: 40px;}

    .page-template-recipe-category .recipes-row{margin-bottom: 40px;}
    .page-template-recipe-category .recipes-main hr{margin: 38px 0 24px;}
    .page-template-recipe-category .browse-heading h3{text-align: center;}
    .page-template-recipe-category .recipes-links{padding-top: 0;}

}