@import url("../css/_gustotv-recipes-section.css");
@import url("../css/_trending-recipe-section.css");
@import url("../css/_optional-cta-module.css");
@import url("../css/_browse-section.css");

@import url("../css/_more-recipes-section.css");
@import url("../css/_recipe-category.css");
@import url("../css/_newsletter-signup.css");
@import url("../css/_more-news.css");


.recipes-heading-right input[type="search"] {padding: 17px 50px 17px 19px;}

.recipes-main{padding: 8px 0 78px;}
.recipes-heading{gap: 0;}
.recipes-heading h1{width: 100%; text-align: center;}
.recipes-heading-right{width: 100%; max-width: 680px; margin: 0 auto;}
.recipes-row{margin-bottom: 0;}
.more-recipes-section hr{margin: 0;}

/* .more-recipes-main{padding: 40px 0 80px;} */

.more-news-main::before{display: none;}
.more-news-thumb{height: 263px;}
.more-news-list p{font-size: 1.25rem; color: var(--foreground);opacity: 1; font-weight: 500;}



.no-line .more-recipes-main::before{display: none;}
.more-news-section hr{margin: 0;}

@media only screen and (min-width:1024px){

    .newsletter-main{margin: 40px 0;}
    .more-news-main{padding: 40px 0 70px;}
}
@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .newsletter-main{margin: 40px 0;}
    .more-news-main { padding: 40px 0 0; }
}
@media only screen and (max-width: 719px) and (min-width: 200px) {
    .recipes-main { padding: 8px 0 34px; }
    .no-line .more-recipes-main { padding: 40px 0 40px; }
    .more-recipes-main{padding: 54px 0 54px;}
      .ad-center { margin: 24px 0 24px; }
      .ad-center span{margin: 24px 0;}
      .ad-center::before { position: absolute; display: block; content: ""; width: 100%; left: 0; right: auto; top: 0px; transform: translateY(-50%); background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 8px 2px; background-repeat: repeat-x; height: 2px; z-index: -1; }
      .ad-center::after { position: absolute; display: block; content: ""; width: 100%; left: 0; right: auto; bottom: 0px; transform: translateY(-50%); background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 8px 2px; background-repeat: repeat-x; height: 2px; z-index: -1; }
      .ad-center span .post-img img{width: 300px;} 
      .newsletter-main{margin: 56px 0;}
      .more-news-main{padding: 28px 0 40px;}
    }