@import url("../css/_more-recipes-section.css");
@import url("../css/_newsletter-signup.css");
@import url("../css/_gustotv-recipes-section.css");

.page-template-recipe-default .recipe-default-section .button, .page-template-recipe-default .recipe-default-section button {padding: 16px 20px 19px;}
.recipe-default-section {padding:79px 0 76px 0; clear: both; width: 100%;}
.recipe-default-section h1 {margin-bottom: 23px;}
.recipe-top-main .recipe-top {margin: 0 0 40px 0; float: left; width: 100%;}
.recipe-top-main .recipe-top .recipe-top-lt {width: 65%; float: left;}
.recipe-top-main .recipe-top .recipe-top-lt p {font-size: 1.5rem; line-height: 1.33; margin-bottom: 24px;}
.recipe-info {clear: none; float:left; width: 65%;}
.recipes-main {padding: 70px 0 77px;}
.recipes-heading {margin-bottom: 56px;}
.recipes-heading h2 {font-size: 2rem; margin-bottom: 0;}
.recipe-top-main {padding: 0 0 79px 0;}
.recipe-img {height: 720px; clear: both; width: 100%;}
.recipe-img img {border-radius: 16px;}

.recipe-vid-wrap {margin: 0 0 48px 0;}
.recipe-vid-wrap .recipe-social {padding-top: 0;}
.recipe-vid-wrap .recipe-social:before {display: none;}
.recipe-social {justify-content: space-between; align-items: center; position: relative; padding: 24px 0; z-index: 1;}
.recipe-social:after, .recipe-social:before {content: ""; display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 8px 2px; background-repeat: repeat-x; height: 2px; width: 100%; position: absolute; bottom: 0;}
.recipe-social:before {top: 0; bottom: inherit;}
.recipe-social .recipe-social-lt {width: 40%;}
.recipe-social .recipe-social-lt .share-icons {justify-content: flex-start;}
.recipe-social .recipe-social-rt {width:calc(100% - 40%);}
.recipe-social .recipe-social-rt .social-btns {display: flex; flex-wrap: wrap; justify-content: flex-end;}
.recipe-social .button {padding: 16px 20px 19px; margin: 8px 0 8px 16px; letter-spacing: -0.07px;}
.recipe-social .button:first-child {margin-left: 0;}
.recipe-social .button.buy-btn:after {content: "\f07a"}
.recipe-social .button.print-btn:after {content: "\f02f"}
.recipe-social .button.outline-btn {padding: 14px 18px 17px;}


.recipe-main {justify-content: space-between;}
.recipe-lt {width: 67.1875%;}
.recipe-lt h2 {margin-bottom: 27px;}
.recipe-lt hr {margin: 62px 0 64px 0;}
.recipe-lt .video-wrap {margin:0 0 40px 0;}
.recipe-lt .video-caption {max-width: 390px;}
.recipe-lt > h4 {color: var(--darkgreen); margin-bottom: 16px; padding: 20px 0 0 0;}
.recipe-lt ul {margin:17px 0 27px 30px;}
.recipe-lt .final-thumb {height: 484px; margin:47px 0 61px 0; clear: both; width: 100%;}
.recipe-lt .final-thumb img {border-radius: 16px;}


.recipe-top-rt {font-size: 0.875rem; text-transform: uppercase; letter-spacing: 0.7px; font-weight: bold; width: 300px; margin-top: -2px; float:right;}
.ratingTable{display: table; width: 100%; position: relative; padding: 0 0 3px;}
.ratingTable:after {content: ""; display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 8px 2px; background-repeat: repeat-x; height: 2px; width: 100%; position: absolute; bottom: 0;}
.rating-row {display: table-row; position: relative;}
.rating-row:before {content: ""; display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 8px 2px; background-repeat: repeat-x; height: 2px; width: 100%; position: absolute; top: 0;}
.rating-cell {display: table-cell; padding:16px 8px 11.5px;}
.rating-cell:nth-child(2) {text-align: right; color: var(--heading);}
.rating-body {display: table-row-group;}


.rate-recipe .heading {padding: 0 0 21px;}
.rate-recipe-form h4 {margin-bottom: 0;}
.rate-recipe-form .frm_forms .frm_form_fields .frm-wrapper {display: table; width: 100%;}
.rate-recipe-form .frm_forms .frm_form_fields .frm-wrapper .frm_form_field {width: 77.11%; padding-right: 18px; display: table-cell; vertical-align: top;}
.rate-recipe-form .frm_forms .frm_form_fields .frm-wrapper .frm_submit {width: calc(100% - 77.11%); text-align: right; min-width: 184px;  display: table-cell; vertical-align: top;}
.rate-recipe-form .frm_forms .frm_form_fields .frm-wrapper .frm_submit button {letter-spacing: -0.1px; padding: 15px 12px 16px 12px;}
.rate-recipe-form .frm_forms .frm_form_fields .frm-wrapper .frm_submit button::after {content: "\f1d8";}

.more-recipes-main {padding: 98px 0 58px;}
.rating {font-size: 0;}
.star {width: 48px; height: 49px; fill: var(--white); transition: fill 0.2s; cursor: pointer; opacity: 0.25; stroke:#28282C; margin: 0 0 0 8px;}
.star:first-child {margin-left: 0;}
.star:hover, .star.selected {fill: var(--green); opacity: 1; stroke:var(--optionaltxt);}


.rating-cell .rating {display: inline-block; vertical-align: middle; margin-left:5px;}
.rating-cell .rating svg path {opacity: 0.25; fill: var(--white); transition: fill 0.2s; stroke:#28282C;}
.rating-star svg {width: 20.5px; height: 20.5px; margin: -2px 0 0 3px;}
.difficulty svg {width: 20px; height: 20px; margin: -6px 0 0 3px;}
.people svg {width: 20px; height: 20px; margin:0 0 0 -1px;}
.rating-cell .people {margin-left: 9px;}

/* Fill Color */
.rate-1 svg:first-child path, 
.rate-2 svg:first-child path, .rate-2 svg:nth-child(2) path,
.rate-3 svg:first-child path, .rate-3 svg:nth-child(2) path, .rate-3 svg:nth-child(3) path, 
.rate-4 svg:first-child path, .rate-4 svg:nth-child(2) path, .rate-4 svg:nth-child(3) path, .rate-4 svg:nth-child(4) path,
.rate-5 svg:first-child path, .rate-5 svg:nth-child(2) path, .rate-5 svg:nth-child(3) path, .rate-5 svg:nth-child(4) path, .rate-5 svg:nth-child(5) path  
{fill: var(--limegreen); opacity: 1; stroke:var(--optionaltxt);}

/* Sidebar */
.recipe-sidebar {width: 300px;}
.side-bucket .show-aside-img {position: relative; border-bottom: 3px solid var(--darkgreen); z-index: 1; margin: 0 0 23px 0;}
.side-bucket .show-host-bg { position: absolute; left: 0;  bottom: 0;  z-index: -1; }  
.side-bucket .show-host-list h4 {margin-bottom: 17px;}
.side-bucket .show-host-list p {font-size: 1rem; color: var(--foreground); margin-bottom: 17px;}

.page-template-recipe-default .recipe-default-section .side-bucket .button, .page-template-recipe-default .recipe-default-section .side-bucket button {padding: 13px 20px 16px; width: 100%;}
.side-bucket {clear: both; width: 100%; padding:42px 0 38px 0;	position: relative;}
.side-bucket:before {content: ""; display: block; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 8px 2px; background-repeat: repeat-x; height: 2px; width: 100%; position: absolute; top: 0; opacity: 0.5;}
.side-bucket:first-child:before {display: none;}
.side-bucket:first-child {padding-top: 0;}

.sidebar-newsletter {clear: both; width: 100%; background: var(--input); border-radius: 8px; padding:22px 24px 24px;}
.sidebar-newsletter .optional-text {margin: 0 0 6px 0;}
.sidebar-newsletter h4 {margin-bottom: 20px;}
.sidebar-newsletter .frm_forms .frm_form_fields input, 
.sidebar-newsletter .frm_forms .frm_form_fields textarea, 
.sidebar-newsletter .frm_forms .frm_form_fields select, 
.sidebar-newsletter .frm_forms .frm_form_fields .selectBox-dropdown {background: var(--white)!important;}
.sidebar-newsletter .frm_forms .frm_form_fields .frm_form_field {margin-bottom: 20px;}
.sidebar-newsletter button::after {content: "\f1d8";}
.sidebar-ads {margin:40px auto 0 auto;}
.sidebar-ads:first-child {margin-top: 0;}
.ad-small {width:300px; height: 250px;}
.ad-big {width:300px; height:600px;}



/*-- media css starts here --*/
@media only screen and (max-width: 1280px) and (min-width:720px) {  
    .recipe-social .recipe-social-lt {width: 100%;}
    .recipe-social .recipe-social-rt {width: 100%; margin: 23px 0 0 0;}
    .recipe-social .recipe-social-rt .social-btns {justify-content: flex-start;}
    
    .rate-recipe-form .heading-lt {width: 100%; margin: 0 0 10px 0;}
    .rate-recipe-form .heading-rt {width: 100%; justify-content: flex-start;}
}

@media only screen and (max-width: 1160px) and (min-width: 1024px) {    
    .recipe-lt {width: 62.188%;}
    .recipe-default-section h1 {font-size: 2.5rem;}
    .recipe-top-main .recipe-top .recipe-top-lt {width: 62%;}
    .recipe-top-main .recipe-top .recipe-top-lt p {font-size: 1.25rem; line-height: 1.4;}
    
}


@media only screen and (max-width: 1023px) and (min-width: 720px) { 
    .recipe-default-section h1 {font-size: 2.5rem;}
}


@media only screen and (max-width: 1023px) and (min-width: 200px) {    
    .recipe-lt {width: 100%;}
    .recipe-sidebar {width:100%; margin: 0 auto;}
}

@media only screen and (max-width: 719px) and (min-width: 200px) {  
    .rate-recipe {text-align: center;}
    .rate-recipe .heading-lt {width: 100%;}
    .rate-recipe .heading-rt {justify-content: center; width: 100%;}
    .rate-recipe-form .frm_forms .frm_form_fields .frm-wrapper {display: block;}
    .rate-recipe-form .frm_forms .frm_form_fields .frm-wrapper .frm_form_field {width: 100%; padding: 0; display: block;}
    .rate-recipe-form .frm_forms .frm_form_fields .frm-wrapper .frm_submit {width: 100%; text-align: center;  display: block; margin: 17px 0 0 0;}
}