@import url("../css/_more-recipes-section.css");
@import url("../css/_more-related-video-section.css");
@import url("../css/_tv-show-slider.css");



.screening-room-detail-section{position: relative; clear: both; width: 100%;}
.screening-room-main{ position: relative; padding: 0 0 80px;} 
.screening-room-article h1{margin-bottom: 32px; font-size: 3rem;}
.screening-room-article span{color: var(--optionaltxt); font-size: 1.75rem; line-height: 2.25rem; margin-bottom: 32px; display: block;}
.screening-room-article .video-caption{max-width: 401px;}
.show-aside-img { position: relative; margin-bottom: 20px; width: 100%; clear: both; }
.show-host-thumb { position: relative; border-bottom: 3px solid var(--darkgreen); z-index: 1; }
.show-host-bg { position: absolute; left: 0; bottom: 0; z-index: -1; }
.host-text { color: var(--body-text); opacity: 0.5; font-size: 1rem; font-weight: bold; font-family: DM Sans , sans-serif; margin-bottom: 3px; }
.host-name { font-size: 1.5rem; line-height: 1.75; color: var(--heading); font-weight: bold; font-family: DMSerif Display; margin-bottom: 22px; }
.screening-room-aside{padding: 64px 0 0;}
.screening-room-aside p { font-size: 1rem; color: var(--foreground); margin-bottom: 24px; }
.show-host-list .button{padding: 14px 12px 15px 12px;}
.screening-room-aside hr{margin: 56px 0 58px;}
.show-host-rt .flour-thumb{margin-bottom: 24px;}
.show-host-rt  .flour-thumb img{height: 110px; width: 174px;}


@media only screen and (min-width: 1200px) {
    .screening-room-main{gap: 104px;}
    .screening-room-article { flex: 0 0 68.5%; }
    .screening-room-aside { flex: 0 0 calc(31.5% - 104px); }
    .show-host-thumb img { max-width: 300px; } 
    .show-host-bg { max-width: 300px; width: 100%; }

}
@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .screening-room-main{gap: 56px;}
    .screening-room-article { flex: 0 0 65.3%; }
    .screening-room-aside { flex: 0 0 calc(34.7% - 56px); }
    .show-host-thumb img { max-width: 272px; } 
    .show-host-bg { max-width: 272px; width: 100%; }
    .screening-room-article .video-wrap .video-thumbnail > img {min-height: 346.5px;}
}

@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .screening-room-article .video-wrap{margin-bottom: 40px;}
    .screening-room-article .cat-wrap{margin:0 0 25px 0;}
    .screening-room-article{margin-bottom: 56px;}
    .screening-room-aside{padding: 0;}
    .show-host-list{height: 100%;}
    .show-host-list hr{display: none;}
    .show-host-lt{flex: 0 0 50%; padding-right: 40px;}
    .show-host-rt{flex: 0 0 50%; padding-left: 40px; background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 2px 8px; background-repeat: repeat-y; height: 100%; width: 2px; display: flex; flex-direction: column;}
    .show-aside-img{margin-bottom: 18px;}
    .show-host-lt p{display: none;}
    .show-host-lt .host-text{margin-bottom: 0;}
    .show-host-lt .host-name{margin-bottom: 14px;}
    .show-host-rt .flour-thumb{margin-bottom: 40px;}
    .show-host-rt p{margin-bottom: 40px;}
    .show-host-rt .button{margin-top: auto;}
    .screening-room-article .video-wrap .video-thumbnail > img {min-height: 373.5px;}

    
}
@media only screen and (max-width: 719px) and (min-width: 390px) {
    .screening-room-main{padding: 0 0 56px;}
    .screening-room-article .video-caption{background: var(--limegreen);}
    .screening-room-article  h1{font-size: 2rem;}
    .screening-room-aside{padding: 56px 0 0;}
    .screening-room-aside hr{margin: 40px 0;}
}