@import url("../css/_tv-host-slider.css");

@import url("../css/_optional-cta-module.css");




.show-heading{margin-bottom: 40px;}
.show-heading h2{margin-bottom: 0;}
.recipes-form  .form-field{width: 100%;}
.featured-show-img{margin-bottom: 24px;}
.featured-show-img img{border-radius: 8px;}
.show-list h2{font-size: 2rem; line-height: 2.5rem; margin-bottom: 16px;}
.show-list h2 a{color: var(--foreground);}
.show-list h2 a:hover{color: var(--green);}
.show-list p{font-size: 1rem; color: var(--foreground); opacity: 0.75; margin-bottom: 16px;}
.trending-shows img{border-radius: 6px;}
.trending-show-list{margin-bottom: 24px; align-items: center;}
.trending-show-list{gap: 32px;}
.trending-show-img{flex: 0 0 40%;}
.trending-show-text{flex: 0 0 calc(60% - 32px);}
.trending-show-text h3{font-size: 1.5rem; margin-bottom: 8px;}
.trending-show-text h3 a{color: var(--foreground);}
.trending-show-text h3 a:hover{color: var(--green); }
.trending-show-text p{font-size: 1rem; color: var(--foreground); opacity: 0.75; margin-bottom: 8px;}

.shows-title-main{clear: both; width: 100%;}
.shows-title-img { margin-bottom: 24px;}
.shows-title-img figure { height: 216px; }
.shows-title-img img { border-radius: 4px; }
.shows-title-text h3{font-size: 1.25rem; line-height: 1.75rem; color: var(--foreground); font-family: DM Sans,sans-serif; font-weight: 500; margin-bottom: 10px;}
.shows-title-text h3 a{color: var(--foreground);}
.shows-title-text h3 a:hover{color: var(--green);}
.shows-title-text p{margin-bottom: 15px; font-size: 1rem; opacity: 0.75; color: var(--foreground);}

.ad-post{display: flex; flex-wrap: wrap; align-items: center; flex-direction: column;}
.ad-post-center{margin: auto;}
.knife-update.ad{margin: 20px 0 20px;}
.knife-update img{height: 100px;  object-fit: contain;}
.shows-title-list:nth-child(10){flex: 0 0 100%;}
.shows-title-main .ad-center span{padding: 0 8px; background-color: #fff; position: relative; z-index: 1; display: inline-block;}
.shows-title-main .ad-center {margin: 32px 0;}
.shows-title-main .ad-center span img{width: 728px;}
.shows-title-main .ad-center{position: relative; z-index: 1; text-align: center; width: 100%;}
.shows-title-main .ad-center::before { position: absolute; display: block; content: ""; width: 100%; left: 0; right: auto; top: 50%; transform: translateY(-50%); background-image: radial-gradient(circle at 1px, var(--green) 1.25px, rgba(255,255,255,0) 1px); background-position: 0 0; background-size: 11px 2px; background-repeat: repeat-x; height: 2px; z-index: -1; }


@media only screen and (min-width: 1200px) {
    .show-main{padding: 80px 0;}
    .featured-show-img figure{height: 337.5px;}

    .knife-update img { height: 100px; max-width: 300px;}
}
@media only screen and (min-width: 1024px) {
    .tv-host-main { padding: 40px 0 80px; }
    .tv-host-heading{gap: 24px;}
    .tv-host-heading h1{font-size: 2.5rem; margin-bottom: 0;}
    .tv-host-heading .heading-lt{flex: 0 0 50%;}
    .tv-host-heading .heading-rt{flex: 0 0 calc(50% - 40px);}

    .show-main{gap: 80px;}
    .featured-shows{flex: 1;}
    .trending-shows{flex: 1;}
    .trending-show-img figure{height: 135px;}
    .show-heading h2{font-size: 2rem; line-height: 2.5rem;}

    .shows-title-main{padding: 80px 0;}
    .shows-title-row { gap: 64px; margin-bottom: 80px;}
    .shows-title-list { flex: 0 0 calc(33.33% - 43px); }

    
}

@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .show-main{padding: 64px 0;}
    /* .featured-shows img{height: 337.5px;}
    .trending-shows img{height: 135px;} */

}
@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .show-main{padding: 64px 0 44px;}
    .featured-shows{margin-bottom: 64px;}
    
    .shows-title-row{gap: 50px; margin-bottom: 40px;}
    .shows-title-list{flex: 0 0 calc(50% - 25px);}
    
  }
  
  @media only screen and (max-width: 719px) and (min-width: 200px) {
    .update-main{padding: 40px 0;}
    .update-list{margin-bottom: 40px;}
    .update-img figure{height: 197px;}
    .update-list.fourth-post {margin: auto; margin-bottom: 40px;}
    .knife-update{width: 266px; margin: auto;}
    .update-main .ad-center{margin: 0 0 32px;}
    .knife-update.ad{margin: 20px auto 20px; width: 300px;}
  }