@import url("../css/_news-press-section.css");
@import url("../css/_newsletter-signup.css");


.update-main{padding: 40px 0 30px; clear: both; width: 100%;}
.update-img{margin-bottom: 24px;}
.update-img figure{height: 216px;}
.update-img img{border-radius: 4px;}
.update-text .calender{margin-bottom: 13px;}
.update-text h3{font-size: 1.25rem; line-height: 1.75rem; color: var(--foreground); font-family: DM Sans,sans-serif; font-weight: 500; margin-bottom: 10px;}
.update-text h3 a{color: var(--foreground);}
.update-text h3 a:hover{color: var(--green);}
.update-text p{margin-bottom: 15px; font-size: 1rem; opacity: 0.75; color: var(--foreground);}
.update-text .cat-wrap{margin-bottom: 0;}




.update-list:nth-child(10){flex: 0 0 100%;}


@media only screen and (min-width: 1200px){

.knife-update img{height: 100px; max-width: 300px;}

}

@media only screen and (min-width: 1024px){
.news-press-section{padding: 40px 0 30px;}

.update-main{padding: 40px 0 80px;}
.update-row{gap: 64px; margin-bottom: 64px;}
.update-list{flex: 0 0 calc(33.33% - 43px);}
  
}
@media only screen and (max-width: 1023px) and (min-width: 720px) {
    .update-row{gap: 50px; margin-bottom: 40px;}
    .update-list{flex: 0 0 calc(50% - 25px);}
    
  }
  
  @media only screen and (max-width: 719px) and (min-width: 200px) {
    .update-main{padding: 40px 0;}
    .update-list{margin-bottom: 40px;}
    .update-img figure{height: 197px;}
    
  }