@import url("../css/default-page.css");
@import url("../css/_cta-module.css");
@import url("../css/_optional-cta-module.css");
@import url("../css/_more-recipes-section.css");
@import url("../css/_more-news.css");
@import url("../css/_newsletter-signup.css");

.updates-post-container {clear: both; width: 100%; position: relative; z-index: 1; overflow: hidden;}
.updates-intro {clear: both; width: 100%; padding:73px 0 56px 0; position: relative;}
.updates-intro h1 {font-size: 2.5rem; line-height: 1.2; color: var(--foreground);}
.updates-intro .post-info {clear: both; width: 100%; margin: 0 0 18px 0;}
.updates-intro .calender {display: inline-block; margin: 0 12px 10px 0;}
.updates-intro .cat-wrap {clear: none; display: inline-block; margin: 0;}
.updates-intro .cat-wrap ul li {margin: 0 15px 10px 0;}


.general-default-article-section .default-inner {width: 100%; max-width: 960px; margin: 0 auto;}
.general-default-article-section .default-inner h1 {color: var(--foreground); font-size: 2.5rem; line-height: 1.2;}
.general-default-article-section .default-inner h6 {padding-top: 34px;}
.general-default-article-section .default-inner .share-icons {padding: 16px 16px 8px;  background-color: var(--white); width: auto; margin-left: auto; justify-content: flex-end; position: absolute; right: 4px; top: -144px; border-top-right-radius: 24px; border-top-left-radius: 24px;}
.general-default-article-section .default-inner .share-icons:before, .default-inner .share-icons:after {content:""; width:28px; height:28px; position:absolute; border-radius:50%; z-index:-10;
  pointer-events:none; border-top:19px solid var(--white); border-right:19px solid transparent; border-left:19px solid transparent; border-bottom:19px solid transparent; border-radius:50%; bottom: -19px;}
.general-default-article-section .default-inner .share-icons:after {right:-47px; -webkit-transform:rotate(-120deg); -moz-transform:rotate(-120deg); -o-transform:rotate(-120deg); transform:rotate(-120deg);}
.general-default-article-section .default-inner .share-icons:before {left:-47px; -webkit-transform:rotate(120deg); -moz-transform:rotate(120deg); -o-transform:rotate(120deg);  transform:rotate(120deg);}

.single-testimonial .single-testimonial-lt {max-width: 104px;}
.single-testimonial .single-testimonial-rt {width: calc(100% - 137px);}

.optional-cta-module {margin: 0 0 14px 0;}

/*-- media css starts here --*/


@media only screen and (max-width: 719px) and (min-width: 200px) {    
    .updates-intro {padding: 33px 0 0 0;}
    .updates-intro h1 {font-size: 2rem; line-height: 1.25;}
    .general-default-article-section {padding: 40px 0 40px 0}
    .general-default-article-section .default-inner > p:first-of-type {margin: 0 0 45px 0;}
    .general-default-article-section .default-inner h3 {padding: 0;}
    .general-default-article-section .default-inner h6 {padding-top: 10px;}
    .general-default-article-section ul {margin-bottom: 40px;}
    .general-default-article-section ol {margin-bottom: 38px;}
    .default-inner .share-icons::before, .default-inner .share-icons::after {width: 30px; height: 30px;}
    .default-inner .share-icons::after {right: -49px;}
    .default-inner .share-icons::before {left: -49px;}
    .default-inner .share-icons .sharethis-inline-share-buttons .st-btn {width: 38px; height: 38px!important; line-height: 36px!important; margin: 0 0 0 9px!important;}
    .default-inner .share-icons .sharethis-inline-share-buttons .st-btn.st-first {margin-left: 0!important;}
    .default-inner .share-icons .sharethis-inline-share-buttons .st-btn::after {font-size: 1.175rem;}
    .default-inner .share-icons {top: -100px; padding: 15px 15px 7px; max-width: 330px; right: 0; left: 0; margin: auto; border-top-right-radius: 22px;
  border-top-left-radius: 22px;}
    
    
    .single-testimonial {padding: 0 0 39px 0;}
    .micro-cta:last-child {padding: 12px 0 0;}   
    .more-recipes-main {padding: 51px 0 54px;}
    
}